In [1]:
!pip install -e ..

Obtaining file:///Users/mstroh/PycharmProjects/PDS_Project
Requirement already satisfied: pandas in /Users/mstroh/opt/miniconda3/lib/python3.7/site-packages (from PDS-Project==0.0.1.dev1) (1.0.3)
Requirement already satisfied: scikit-learn in /Users/mstroh/opt/miniconda3/lib/python3.7/site-packages (from PDS-Project==0.0.1.dev1) (0.22.2.post1)
Requirement already satisfied: click in /Users/mstroh/opt/miniconda3/lib/python3.7/site-packages (from PDS-Project==0.0.1.dev1) (7.1.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/mstroh/opt/miniconda3/lib/python3.7/site-packages (from pandas->PDS-Project==0.0.1.dev1) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /Users/mstroh/opt/miniconda3/lib/python3.7/site-packages (from pandas->PDS-Project==0.0.1.dev1) (2019.3)
Requirement already satisfied: numpy>=1.13.3 in /Users/mstroh/opt/miniconda3/lib/python3.7/site-packages (from pandas->PDS-Project==0.0.1.dev1) (1.18.3)
Requirement already satisfied: joblib>=0.11 in /Users/mstroh/opt/miniconda3/lib/python3.7/site-packages (from scikit-learn->PDS-Project==0.0.1.dev1) (0.14.1)
Requirement already satisfied: scipy>=0.17.0 in /Users/mstroh/opt/miniconda3/lib/python3.7/site-packages (from scikit-learn->PDS-Project==0.0.1.dev1) (1.4.1)
Requirement already satisfied: six>=1.5 in /Users/mstroh/opt/miniconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas->PDS-Project==0.0.1.dev1) (1.14.0)
Installing collected packages: PDS-Project
  Attempting uninstall: PDS-Project
    Found existing installation: PDS-Project 0.0.1.dev1
    Uninstalling PDS-Project-0.0.1.dev1:
      Successfully uninstalled PDS-Project-0.0.1.dev1
  Running setup.py develop for PDS-Project
Successfully installed PDS-Project

In [2]:
import os
import pandas as pd

In [3]:
path = os.path.join(os.path.join(os.getcwd(), "../nextbike/data"), "input/nuremberg.csv")
path

'/Users/mstroh/PycharmProjects/PDS_Project/notebooks/../nextbike/data/input/nuremberg.csv'

In [4]:
df = pd.read_csv(path)
df

,Unnamed: 0,p_spot,p_place_type,datetime,b_number,trip,p_uid,p_bikes,p_lat,b_bike_type,p_name,p_number,p_lng,p_bike
0,0,True,0,2019-01-20 02:06:00,11281,first,4774295,5,50.808852,15,Biegenstraße/Cineplex,5155.0,8.773134,False
1,1,True,0,2019-01-20 14:16:00,11281,last,4774295,4,50.808852,15,Biegenstraße/Cineplex,5155.0,8.773134,False
2,2,True,0,2019-01-20 00:00:00,11169,first,4774543,5,50.795224,15,Südbahnhof,5173.0,8.763266,False
3,3,True,0,2019-01-20 01:55:00,11169,start,4774543,5,50.795224,15,Südbahnhof,5173.0,8.763266,False
4,4,True,0,2019-01-20 02:06:00,11169,end,4774368,4,50.804522,15,Frankfurter Straße/Psychologie,5159.0,8.770358,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2275084,2275084,False,12,2019-12-31 23:59:00,90483,last,26506255,1,49.456960,71,BIKE 90483,0.0,11.105922,True
2275085,2275085,False,12,2019-12-31 11:17:00,90057,first,26504052,0,49.456893,71,BIKE 90057,0.0,11.088171,True
2275086,2275086,True,0,2019-12-31 23:59:00,90057,last,66103,4,49.457127,71,Rathenauplatz,4611.0,11.089604,False
2275087,2275087,True,0,2019-12-31 17:00:00,90206,first,66119,6,49.448755,71,Dürrenhof,4626.0,11.097747,False
2275088,2275088,True,0,2019-12-31 23:59:00,90206,last,66119,8,49.448755,71,Dürrenhof,4626.0,11.097747,False